/* home page */

#index{
	background-image: url('../images/techno-1.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    margin-left: 150px;
}

#google-translate{
    float: right;
    font-size: 25px;
    font-family: 'Pompiere', cursive;
    text-align: center;
}
.para{
    position: relative;
    color: #002699;
    font-size: 30px;
    bottom: 30px;
    margin-left: 150px;
    font-family: 'Kelly Slab', cursive;
}

.icon-bar{

    position: relative;
    bottom: 50px;
    height: 70px;
    width: 100%;
    background-color: #d77575;
    opacity: 0.75;
    transition: margin-left .5s;
}

.right-bar{
    float: left;
}
.media{
    float: right;
}

.timeline{
    position: relative;
    top: 4px;
}

#open, .media a {
    padding: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}  
.right-bar a{
    font-size: 30px;
    padding: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

#open:hover, .media:hover, .accordion a:hover, .icon-bar a:hover {
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.75;
    z-index: 1;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #21BA7A;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: 'Coiny', cursive;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#open{
    font-size: 25px;
    cursor: pointer;
}

.mydropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 170px;
    margin-left: 25px;
    z-index: -1;
}

.mydropdown a:hover {
    background-color: #000000;
}

.dropdown:hover .mydropdown {
    display: inline-block;
}

.content{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    position: relative;
    top: -50px;
    z-index: -1;
}

h3{
    font-size: 70px;
    color: red;
    font-family: 'Pompiere', cursive;
}

.para-1{
    position: relative;
    font-size: 70px;
    color: #000000;
    top: -50px;
    font-family: 'Pompiere', cursive;
}

.footer{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: right;
    background-color: red;
    text-align: center;
    opacity: 0.60;
    position: relative;
    bottom: 190px;
}

.footer ul{
    margin: 15px;
    padding: 16px;
    list-style-type: none;
    overflow: hidden; 
}

.footer li, li a{
    line-height: 30px;    
    color: #000000;
}

/* 2nd page */

.content-2{
    margin: 0 200px 0 200px;

}

h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    
}

.button{
    height: 100px;
    font-size: 25px;
    width: 900px;
    font-family: 'Kelly Slab', cursive;
    cursor: pointer;
}

.button:hover, .button:active {
    background-color: #ffff99;
    transition: 0.8s ease-in-out;
}

.panel{
    padding: 18px;
    display: none;
    background-color: #ffffff;
} 

.panel.show{
    display: block;
}

.gadgets{
    height: 250px;
    width: 250px;
    float: left;
}

.para-3{
    width: 880px;
    font-size: 30px;
    font-family: 'Pompiere', cursive;
    color: red;
}
.scroll-up{
    position: fixed;
    margin-left: 50px;
    bottom: 100px;
}
.arrow{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

/*third page */

#gallery{
    background-image: url('../images/techno-22.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h4{
    font-size: 45px;
    text-align: center;
    font-family: 'Kelly Slab', cursive;
}

.slides{
    width: 650px;
    height: 650px;
    border: 5px solid black;

}

.slide-container{
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 700px;
    z-index: -1;
}
.myslides{
    width: 100%;
    display: none;

}

.side-button{
    position: relative;
    top: 50%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    bottom: 500px;
    color: #0000ff;
    font-size: 50px; 
    margin-left: 23%;
}

.next{
    position: relative;
    left: 64%;
}  


.prev:hover, .next:hover{
    background-color: #ffffff;
}
.prev:active, .next:active{
    background-color: red;
}

.caption{
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    width: 100%
}

.para-4{
    color: #ff0000;
    font-family: 'Pompiere', cursive;
}


/* mobile page @ mediaquery */

/* home page */

@media all and (max-width: 480px){

    #index{
        
        background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,0.5));
    }

    h2{
        font-family: 'Abril Fatface', cursive;
        font-size: 25px;
        margin-left: 0px;
    }

    #google-translate{
        display: none;
    }

    .para{
        position: relative;
        color: #002699;
        font-size: 15px;
        bottom: 0px;
        margin-left: 0px;
        font-family: 'Kelly Slab', cursive;
    }

    .icon-bar{
        position: relative;
        bottom: 0px;
        height: 35px;
        width: 100%;
        background-color: #d77575;
        opacity: 1;
        transition: margin-left .5s;
    }

    
    .media{
        position: absolute;
        width: 105px;
        bottom: 117px;
        left: 67%;
    }
    
    .open, .media a {
        padding: 0px;
        display: inline-block;
        transition: all 0.3s ease;
        cursor: pointer;
        color: #000000;
    }
    
    .media a{
        font-size: 10px;
        margin: 3px;
    }
    .timeline{
        position: relative;
        top: 3px;
    }


    .right-bar a{
        font-size: 16px;
        padding: 0px;
        display: inline-block;
        transition: all 0.3s ease;
        cursor: pointer;
        text-decoration: none;
        margin: 2px;
    }


    .open:hover, .accordion a:hover, .icon-bar a:hover,.media a:hover {
        color: #ffffff;
    }
    

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 35px;
        opacity: 0.75;
        z-index: 1;
    }

    .sidenav a {
        padding: 3px;
        text-decoration: none;
        font-size: 12px;
        color: #21BA7A;
        display: block;
        transition: 0.3s;
        text-align: center;
        font-family: 'Coiny', cursive;

    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        margin-left: 50px;
    }

    .mydropdown {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 30%;
        margin-left: 10px;
        z-index: 1;
    }

    .mydropdown a:hover {
        background-color: #000000;
    }

    .dropdown:hover .mydropdown {
        display: inline-block;
    }

    .content{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0px;
        z-index: -1;
    }

    h3{
        font-size: 35px;
        color: #000000;
        font-family: 'Pompiere', cursive;
    }

    .para-1{
        position: relative;
        font-size: 35px;
        color: #000000;
        top: 0px;
        font-family: 'Pompiere', cursive;
        color: #ffff00;
    }

    .footer{
        height: 50%;
        width: 50%;
        border-radius: 50%;
        float: right;
        background-color: red;
        text-align: center;
        opacity: 0.60;
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .footer ul{
        margin: 15px;
        padding: 16px;
        list-style-type: none;
        overflow: hidden; 
    }

    .footer li, li a{
        line-height: 25px;    
        color: #000000;
    }

    /* 2nd page */

    
    .content-2{
        margin: 0 auto;
        text-align: center;

    }

    h1{
        font-family: 'Abril Fatface', cursive;
        font-size: 20px;
        
    }

    .button{
        height: 75px;
        font-size: 18px;
        width: 90%;
        font-family: 'Kelly Slab', cursive;
        cursor: pointer;
    }

    .button:hover, .button:active {
        background-color: #ffff99;
        transition: 0.8s ease-in-out;
    }

    .panel{
        padding: 0px;
        display: none;
        background-color: #ffffff;
    } 

    .panel.show{
        display: block;
    }

    .gadgets{
        height: auto;
        width: 100%;
    }

    .para-3{
        width: 100%;
        font-size: 20px;
        font-family: 'Pompiere', cursive;
        color: red;
        margin-left: 0px;
    }
    .scroll-up{
        bottom: 20px;
        margin-left: -5px;
        bottom: 0px;
        opacity: 0.6;
    }
    .arrow{
        height: 50px;
        width: 20px;
        cursor: pointer;
    }
    .para-2{
        font-size: 10px;
    }

    /* gallery page */
    
    #gallery{
        background: -webkit-linear-gradient(bottom,rgba(0,50,0,1),rgba(0,30,0,0.4));
    }
    
    h4{
        font-size: 20px;
        text-align: center;
        font-family: 'Kelly Slab', cursive;
    }

    .slides{
        width: 100%;
        height: 350px;
        border: 5px solid black;
    }

    .slide-container{
        margin: 0 auto;
        position: relative;
        max-width: 100%;
        z-index: -1;
    }
    .myslides{
        width: 100%;
        display: none;

    }

    .side-button{
        position: relative;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        bottom: 150px;
        color: #0000ff;
        font-size: 35px; 
        margin-left: 0px;
    }

    .next{
        position: relative;
        left: 90%;
    }  


    .prev:hover, .next:hover{
        background-color: #ffffff;
    }
    .prev:active, .next:active{
        background-color: red;
    }

    .caption{
        position: relative;
        bottom: 50px;
        text-align: center;
        font-size: 35px;
        padding: 15px;
        width: 100%
    }

    .para-4{
        color: #ffff00;
        font-family: 'Pompiere', cursive;
    }
} 