#index{
	background-image: url('../images/techno-1.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    margin-left: 150px;
}
#google-translate{
    float: right;
    font-size: 25px;
    font-family: 'Pompiere', cursive;
    text-align: center;
}
.para{
    position: relative;
    color: #4700B8;
    font-size: 30px;
    bottom: 30px;
    margin-left: 150px;
    font-family: 'Kelly Slab', cursive;
}

.icon-bar{
    position: relative;
    bottom: 50px;
    height: 70px;
    width: 100%;
    background-color: #d77575;
    opacity: 0.75;
    transition: margin-left .5s;
}

.right-bar{
    float: left;
}
.media{
    float: right;
}

#open, .media a {
    padding: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}  
.right-bar a{
    font-size: 30px;
    padding: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

#special{
    font-size: 30px;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: purple;

}

#special:hover, #open:hover, .media:hover, .accordion a:hover, .icon-bar a:hover {
    color: #ffffff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.75;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #21BA7A;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: 'Coiny', cursive;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#open{
    font-size: 25px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 16px;
    display: inline-block;
    transition: all 0.3s ease;
    
}

.mydropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 170px;
    margin-left: 25px;
}

.mydropdown a:hover {
    background-color: #000000;
}

.dropdown:hover .mydropdown {
    display: inline-block;
}

.content{
    margin: 0 auto;
    width: 800px;
    text-align: center;
    
    position: relative;
    top: -50px;
}

h3{
    font-size: 70px;
    color: red;
    font-family: 'Pompiere', cursive;
}
    
.para-1{
    position: relative;
    font-size: 70px;
    color: #000000;
    top: -50px;
    font-family: 'Pompiere', cursive;
}

.round{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: right;
    background-color: red;
    text-align: center;
}
    
